body	{
	/*background-color: #CE8002;*/
	margin: 0;
	padding: 0;
}

ul	{
	list-style: none;
	text-align: center;
	display: inline-block;

}

.cover {
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


