body	{
	margin: 0;
	padding: 0;
}

.topnav 	{
	background-color: #ce8002;
    padding-left: 60px;
    padding-right: 60px;
    text-align: center;
}

li  {
    display: inline;
    padding: 20px;
}

ul  {
    height: 40px;
}

ul.menu {
    padding-top: 20px;
}

img {
    width: 100%;
    height: auto;
}